nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(28, 26, 28);
    border-bottom: 2px solid black;
    z-index: 100;
}
nav ul{
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}
.Char{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    transform: translateX(-50%);
}
.CharDot svg{
    color: rgb(255, 255, 255);
    font-size: 100px;
}
.CharDot.one{
    /* color: blue; */
    animation: CharDot 1.5s infinite;
    opacity: 0;
    /* animation-delay: 1s; */
}
.CharDot.two{
    /* color: blue; */
    animation: CharDot 1.5s infinite;
    opacity: 0;
    animation-delay: 0.5s;
}
.CharDot.three{
    /* color: blue; */
    animation: CharDot 1.5s infinite;
    opacity: 0;
    animation-delay: 1s;
}
@keyframes CharDot {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
}